###############################################################################
# BET LAB FRONTEND ENVIRONMENT TEMPLATE
###############################################################################

VITE_API_BASE_URL=http://127.0.0.1:8000

# Paystack
VITE_PAYSTACK_MODE=test

VITE_PAYSTACK_TEST_PUBLIC_KEY=

VITE_PAYSTACK_LIVE_PUBLIC_KEY=
