{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{{ title }} | {{ site_title|default:_('Bet Lab Admin') }}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="icon" type="image/svg+xml" href="{% static 'admin/img/favicon.svg' %}">
<link rel="icon" type="image/png" href="{% static 'admin/img/favicon.png' %}">
<link rel="stylesheet" href="{% static 'admin/css/betlab-admin-overrides.css' %}">
{% endblock %}

{% block branding %}
<div id="site-name">
  <a href="{% url 'admin:index' %}">
    <img src="{% static 'admin/img/favicon.png' %}" alt="" width="20" height="20"
      style="vertical-align:middle;border-radius:4px;margin-right:8px;">{{ site_header|default:_('Bet Lab Admin') }}
  </a>
</div>
{% endblock %}
